@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
}

h1, h2, h3 {
    font-weight: bold;
}

.h1-wrapper {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    /* height: 100vh; */
    position: absolute;
    top: 90px;
}

.edit-form-overlay {
    z-index: 1;
    position: fixed;
    /* display: flex; */
    display: none;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    /* color: rgb(255, 255, 255, 0.8); */
    background-color: rgb(255, 255, 255, 0.96);
}

.edit-form-wrapper {
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    height: 10%;
    padding: 50px 20px;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 10px;
    background-color: white;
}

.edit-form-wrapper > form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 600px;;
}

.edit-form-wrapper > form .buttons-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.edit-form-wrapper .button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.update-button, .cancel-button {
    border: none;
    border-radius: 5px;
    height: 25px;
    width: 80px;
    font-weight: 600;
}

.update-button {
    background-color: rgb(111, 111, 255);
}

.add-form-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    padding: 5px 20px 5px 20px;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 10px;
    background-color: white;
}

.add-form-wrapper > form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.input-fields-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.input-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 120px;
}

.input-wrapper > label {
    align-self: flex-start;
}

.input-wrapper input {
    width: 100%;
    min-height: 20px;
    border-style: solid; /* border-style: inset (chrome default) */
    border-width: 1px;
    border-radius: 5px;
    border-image: none; /* border-image: initial (chrome default) */
    margin-top: 2px;
}

.input-wrapper select {
    width: 100%;
    min-height: 24px;
    border-style: solid; /* border-style: inset (chrome default) */
    border-width: 1px;
    border-radius: 5px;
    border-image: none; /* border-image: initial (chrome default) */
    margin-top: 2px;
}

.add-form-wrapper .button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.add-button {
    background-color: rgb(16, 206, 16);
    border: none;
    border-radius: 5px;
    height: 25px;
    width: 80px;
    font-weight: 600;
}

.details-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
}

.details-table-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.details-table {
    border-collapse: collapse;
    /* border: 1px solid rgb(209, 209, 209);
    border-radius: 10px; */
    /* width: 100%; */
}

.title-row td {
    font-weight: bold;
}

.title-row td:nth-child(1):hover, .title-row td:nth-child(2):hover, .title-row td:nth-child(3):hover {
    cursor: url(icons8-sort-25.png), default;
} 

.details-table tr, th, td {
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid rgb(209, 209, 209);
    /* border: 1px solid rgb(209, 209, 209); */
}

.details-table td {
    text-align: center;
}

.details-table .action-buttons {
    display: flex;
    border: none;
}

.edit-button, .delete-button {
    border: none;
    border-radius: 5px;
    height: 25px;
    width: 80px;
    margin: 5px 5px;
    font-weight: 600;
}

.edit-button {
    background-color: rgb(111, 111, 255);
}

.delete-button {
    background-color: rgb(255, 73, 73);
}